<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<div th:replace="fragment/layout::head"></div>
	</head>

	<body>
	<div th:replace="fragment/layout::header"></div>

		<section class="page">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
	          <ol class="breadcrumb">
	          	<li><a th:href="@{/index}">Home</a></li>
	            <li class="active">About Us</li>
	          </ol>
						<h1 class="page-title">About Us</h1>
						<p class="page-subtitle">We will tell you who we are</p>
						<div class="line thin"></div>
						<div class="page-description">
							<h4>Hi</h4>
							<p>
								This page has a unique feel, thanks to the deconstructed action figures representing the founders, Leigh Whipday and Jonny Lander.

								The great attention to detail and interactivity also reflect the company’s 16 years of experience.

								To sum up, this page stands out by providing the perfect mix of fun and information.
							</p>

							<div class="question">
								Have a question? <a th:href="@{/guest/contact}" class="btn btn-primary">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	<div th:replace="fragment/layout::footer"></div>

	<!-- JS -->
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/jquery.migrate.js}"></script>
	<script th:src="@{/scripts/bootstrap/bootstrap.min.js}"></script>
	<script>var $target_end = $(".best-of-the-week");</script>
	<script th:src="@{/scripts/jquery-number/jquery.number.min.js}"></script>
	<script th:src="@{/scripts/owlcarousel/dist/owl.carousel.min.js}"></script>
	<script th:src="@{/scripts/magnific-popup/dist/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/scripts/easescroll/jquery.easeScroll.js}"></script>
	<script th:src="@{/scripts/sweetalert/dist/sweetalert.min.js}"></script>
	<script th:src="@{/scripts/toast/jquery.toast.min.js}"></script>
	<script th:src="@{/js/demo.js}"></script>
	<script th:src="@{/js/e-magz.js}" ></script>
	</body>
</html>